.box{
    font-size: 60px;
    color: white;
    text-align: center;
    width:300px;
}

.box1{
    
    background-color: orange;
}
.box2{
    background-color: red;
    
}
.box3{
    background-color: green;
}
.box4{
    background-color: yellow;
   
}
.box5{
    background-color: blue;
    
}
.box6{
    
    background-color: rgb(255, 94, 0);
}
.box7{
    background-color: rgb(146, 51, 51);
    
}
.box8{
    background-color: rgb(96, 230, 96);
}
.box9{
    background-color: rgb(153, 153, 26);
   
}

.container{
    display: flex;
    border: 10px solid black;
    height: 100vh;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    

    justify-content: flex-start;
    align-content: space-around; 

}