body{
    display: flex;
    margin: 0;
    flex-direction: column;
    background: #2c3e50;
    font-family: 'Special Elite', cursive;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color:black;
    font-size: 25px;
}
a:hover{
    font-weight: bold;
}
ul{
    list-style: none;
}
.Aleft{
    flex-grow: 4;
}

.Aright{
    flex-grow: 1;
}

main > *, header, footer{
    margin: 4px;
    padding:5px;
    border-radius: 7px;
    
}
main {
    display: flex;
    /* flex-basis: 800px; */
}
.secondary {
    display: flex;
    flex-basis: 200px;
}

.flex-container {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
.mainContent {
    flex-direction: column ; 
    flex-wrap: wrap;
}  
.mainContent > div {
    background-color: white;
    margin: 10px;
    flex-grow: 1;
    font-size: 18px;
   
  }
.moreContent > div {
    background-color: white;
    margin: 10px;
    text-align: center;
    flex-grow: 1;
    font-size: 18px;
  }
.fas{
    font-size: 60px;
}  
article{
    flex: 4 0 60%;
    background:#ecf0f1;
   
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h2{
    justify-content: left;
    margin-bottom: 0px;
}
p{
    margin-top: 0px;
}
aside{
    flex: 1 1 20%;
    background: #3498db;
    
}

header, footer{
    background: white;
    flex-basis: 100px;
}

.mcdiv{
    display: flex; 
    flex-direction: row; 
    margin-right: 10%;
     margin-left: 10%;
}
.mcdivcontent{
    display: flex;
     align-items: center;
      padding:5%;
       color: rgba(252, 164, 0, 0.966);
}

@media all and (max-width:640px){
    #nav{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        flex-grow: 1; 
    }
   
    .moreContent{
        flex-direction: column;
    }
    #icon{
        display: none;
    }
    .lists{
       width:100%;
       margin:
    }
    
}