body{
    display: flex;
    margin: 0;
    flex-direction: column;
    background: #2c3e50;
    font-family: Helvetica;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color:black;
}

.Aleft{
    flex-grow: 6;
}

.Aright{
    flex-grow: 1;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main > *, header, footer{
    margin: 4px;
    padding:5px;
    border-radius: 7px;
    
}
main {
    display: flex;
    /* flex-basis: 800px; */
}
.secondary {
    display: flex;
    flex-basis: 200px;
}

.flex-container {
    display: flex;
    /* flex-wrap: nowrap; */
    background-color: DodgerBlue;
    justify-content: center;
    align-items: center;
  }
.mainContent {
    flex-direction: column ; 
    flex-wrap: wrap;
}  
.mainContent > div {
    background-color: #f1f1f1;
    /* width: 100px; */
    margin: 10px;
    text-align: center;
    line-height: 75px;
    flex-grow: 1;
    font-size: 30px;
   
  }
.moreContent > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    flex-grow: 1;
    font-size: 30px;
  }
.fas{
    font-size: 60px;
}  
article{
    flex: 4 0 60%;
    background:#ecf0f1;
   
}

nav{
    flex: 1 1 20%;
    background: #95a5a6;
    order: -1;

}

aside{
    flex: 1 1 20%;
    background: #3498db;
    
}

header, footer{
    background: #1abc9c;
    flex-basis: 100px;
}

@media all and (max-width:640px){
    main{
        flex-direction: column;
        flex-grow: 1;
    }
    nav{
        order: 0;
    }
}